@model MVC_ArsonProject.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>文章系統</h2>

<div>
    <h4>細節</h4>
    <p>
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn app-btn-primary">編輯</a>
        <a href="@Url.Action("Index")" class="btn app-btn-primary">返回</a>
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Description)*@
            @Html.Raw(Model.Description)
        </dd>

    </dl>
</div>

